@charset "utf-8";

/* 診療設備-------------------- */
.machineitem {
  margin-bottom: 70px;
}

.machineitem .inner > p {
  margin-bottom: 60px;
}

.machineitem .items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.machineitem .items div {
  width: 47%;
  box-shadow: 0 0 5px rgba(0, 0, 0, .15);
  border-radius: 10px;
  margin-bottom: 45px;
  padding-bottom: 25px;
}

.machineitem .items div img {
  border-radius: 10px 10px 0 0;
}

.machineitem h3 {
  font-size: 1.5rem; /*24px相当*/
  padding: 0 0 10px 0px;
  margin: 0 15px 10px;
  border-bottom: 2px solid #ffcd30;
}

.machineitem .items div p:nth-of-type(1) {
  margin: 0 15px;
}

.machineitem figure {
  text-align: center;
  line-height: 1;
  margin-bottom: 25px;
}





@media screen and (max-width: 767px) {

  .machineitem .inner > p {
    padding-left: 0;
    margin-bottom: 40px;
  }

  .machineitem .items div {
    width: 100%;
    margin-bottom: 30px;
    /* min-height: 480px; */
  }

  .machineitem figure {
    margin-bottom: 20px;
  }

  .machineitem .items div img {
    text-align: center;
    width: 100%;
  }







}